body {
  background:#222121;
  color: #e8edee;
}

head {
  text-align: center;
}

h1 {
  font-family: Title;
  font-size: xx-large;
  font-kerning: normal;
}

h2 {
  font-family: Videotype;
  font-size: x-large;
}

h3 {
  font-family: Determination;
  font-size: 40px;
  padding: 10px 10px 10px 10px;
  margin-left: 25px;

}

p {
  font-family: Videotype;
  font-size: large;
  line-height: 2;
}

sub {
  font-size: x-small;
  color: rgb(160, 160, 160);
}

li {
  font-family: Videotype;
  font-size: 20px;
  line-height: 1.8;
}

def {
  font-family: Videotype;
  font-size: 18px;
  margin-left: 35px;
  line-height: 1.8;
}

@font-face {
  font-family: "Determination";
  src: url("fonts/determination/determination.ttf");
}

@font-face {
  font-family: "Title";
  src: url("fonts/alagard/alagard.ttf");
}

@font-face {
  font-family: "Videotype";
  src: url("fonts/videotype/videotype.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-Black.ttf");
}

/* Title nav */
.titleNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.titleNav a {
  font-family: "Determination";
  text-align: center;
  width: fit-content;
  height: fit-content;
  margin: auto;
  font-size: x-large;
  text-decoration: none;
  color: rgb(160, 160, 160);
}

a:hover {
  color: white;
  text-decoration: none;
}

/* Top nav */
.topnav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2%;
}

.topnav a {
  font-family: Determination;
  color: rgb(160, 160, 160);
  width: fit-content;
  height: fit-content;
  margin: auto;
  text-decoration: none;
  font-size: x-large;
  padding: 20px;
}

.topnav a:hover {
  color: white;
  text-decoration: underline;
}

a.selected {
  color: white;
  text-decoration: underline;
  cursor: default;
}

/* Main */
.mainBody {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  -moz-animation-name: fade;
  -moz-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}

/* Name color change
.nameColorChange {
  color: transparent;
  background-image: linear-gradient(to right, #f00, #ff0, #0ff, #0f0, #00f);
  -webkit-background-clip: text;
  animation: colorChange 15s linear infinite;
  background-size: 1000%;
}
@keyframes colorChange {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 10%;
  }
  100% {
    background-position: 0% 100%;
  }
}
*/

/* Projects */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Footer */
footer {
  text-align: center;
  left: 0;
  right: 0;
  margin-bottom: 2%;
}

.indexFooter {
  position: absolute;
  bottom: 0;
  margin-bottom: 2%;
}

.fa-github {
  color: rgb(160, 160, 160);
}

.fa-github:hover {
  color: white;
}