body {
  background:#222121;
  color: #e8edee;
}

head {
  text-align: center;
}

h1 {
  font-family: Title;
  font-size: xx-large;
  font-kerning: normal;
}

h2 {
  font-family: Title;
  font-size: x-large;
}

h3 {
  font-family: Determination;
  font-size: 40px;
  padding: 10px 10px 10px 10px;
  margin-left: 25px;

}

p {
  font-family: Determination;
  font-size: large;
}

sub {
  font-size: x-small;
  color: rgb(160, 160, 160);
}

li {
  font-family: Roboto;
  font-size: 20px;
}

def {
  font-family: Roboto;
  font-size: 18px;
  margin-left: 35px;
}

@font-face {
  font-family: "Determination";
  src: url("fonts/determination/determination.ttf");
}

@font-face {
  font-family: "Title";
  src: url("fonts/alagard/alagard.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Poppins/Poppins-Regular.ttf");
}

/* Title nav */
.titleNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.titleNav a {
  font-family: "Determination";
  text-align: center;
  width: fit-content;
  height: fit-content;
  margin: auto;
  font-size: x-large;
  text-decoration: none;
  color: rgb(160, 160, 160);
}

a:hover {
  color: white;
  text-decoration: none;
}

/* Fading animation
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.nameColorChange {
  color: transparent;
  background-image: linear-gradient(to right, #f00, #ff0, #0ff, #0f0, #00f);
  -webkit-background-clip: text;
  animation: colorChange 15s linear infinite;
  background-size: 1000%;
}
@keyframes colorChange {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 10%;
  }
  100% {
    background-position: 0% 100%;
  }
}
*/
/* Projects */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

video::-webkit-media-controls-fullscreen-button {
  display: none !important;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

svg {
  size: 2px;
}

video:focus {
  outline: none !important;
  outline-style: none;
}