body {
  background:#78866B;
  color: #e8edee;
}

head {
  text-align: center;
}

h1 {
  font-family: Poppins;
  padding: 20px 20px 20px 20px;
}

h2 {
  font-family: Poppins;
  font-size: 25px;
  padding: 10px 10px 10px 10px;

}

h3 {
  font-family: Poppins;
  font-size: 40px;
  padding: 10px 10px 10px 10px;
  margin-left: 25px;

}

p {
  font-family: Roboto;
  font-size: 20px;
  margin-left: 25px;
}

li {
  font-family: Roboto;
  font-size: 20px;
}

def {
  font-family: Roboto;
  font-size: 18px;
  margin-left: 35px;
}

@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Poppins/Poppins-Regular.ttf");
}

/* Column */
.leftColumn {
  height: 100%;
  width: 415px;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #453736;
  overflow-x: hidden;
  padding-top: 10%;
  text-decoration: none;
  position: fixed;
}
.leftColumn a {
  text-decoration: none;
  padding: 20px 20px 20px 20px;
  font-family: Roboto;
  font-size: 25px;
  color: white;
  display: block;
  text-align: center;
}
.leftColumn a:hover {
  color: #d3c1d2;
  text-decoration: underline;
}
.main {
  margin-right: 50px;
  flex: auto;
}

a.selected {
  color:#bc8cc5;
  text-decoration: none;
}


/****** Main ******/
.mainBody {
  margin-left: 170px;
  padding-left: 350px;
  padding-top: 0%;
  padding-right: 150px;
  padding-bottom:3%;
}

.mainBodyIndex {
  padding-left: 420px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: right;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.nameColorChange {
  color: transparent;
  background-image: linear-gradient(to right, #f00, #ff0, #0ff, #0f0, #00f);
  -webkit-background-clip: text;
  animation: colorChange 15s linear infinite;
  background-size: 1000%;
}
@keyframes colorChange {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 10%;
  }
  100% {
    background-position: 0% 100%;
  }
}

/* Projects */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

video::-webkit-media-controls-fullscreen-button {
  display: none !important;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

svg {
  size: 2px;
}

video:focus {
  outline: none !important;
  outline-style: none;
}